.Register_Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Register_Banner{
    background-color: #49B092;
    border-radius: 20px;
    padding: 40px;
    width: 80%;
}

.Register_page_Buttons{
    grid-area: Register_page_Buttons;
    display: flex;
    flex-direction: column;
}