.text-input-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-input-one_input {
    height: 40px;
    width: 300px;
    border-radius: 20px;
}