.opening-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.opening-page_banner{
    background-color: #49B092;
    border-radius: 20px;
    padding: 40px;
    margin: 30px 0px;
    width: 80%;
}
.opening-page_icon{
    width: 40%;
    max-width: 200px;
}
.opening-page_details{
    margin: 20px 0px;
    width: 80%;
}
.opening-page_buttons{
    display: flex;
    flex-direction: column;
}

@media (min-width: 750px) {
    .opening-page{
        display: grid;
        margin: 0px 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "banner banner"
            "icon details"
            "icon buttons"
        ;
    }
    .opening-page_banner{
        grid-area: banner;
        justify-self: stretch;
        width: auto;
    }
    .opening-page_icon{
        grid-area: icon;
        width: auto;
        max-width: 300px;
    }
    .opening-page_details{
        grid-area: details;
        justify-self: stretch;
        width: auto;
    }
    .opening-page_buttons{
        grid-area: buttons;
    }
}